<div class="page-header">
  <h1>Mom #<%= @mom.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @mom.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @mom.last_name %></dd>

  <dt>Years experience</dt>
  <dd><%= @mom.years_experience %></dd>

  <dt>Email</dt>
  <dd><%= @mom.email %></dd>

  <dt>College</dt>
  <dd><%= @mom.college %></dd>

  <dt>MBA</dt>
  <dd><%= @mom.mba %></dd>

</dl>
