<div class="page-header">
  <h1>Editing Company #<%= @company.id %></h1>
</div>

<%= form_tag(company_url(@company), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :name, @company.name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :email, @company.email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :website, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :website, @company.website, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :city, @company.city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :state, @company.state, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :zip, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :zip, @company.zip, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :overview, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :overview, @company.overview, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Company", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
