<div class="page-header">
  <h1>New Company</h1>
</div>

<%= form_tag(companies_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= email_field_tag :email, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :website, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :website, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :city, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :state, options_for_select(:us_states) %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :zip, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :zip, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :overview, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :overview, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Company", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
