<div class="page-header">
  <h1>Company #<%= @company.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @company.name %></dd>

  <dt>Email</dt>
  <dd><%= @company.email %></dd>

  <dt>Website</dt>
  <dd><%= @company.website %></dd>

  <dt>City</dt>
  <dd><%= @company.city %></dd>

  <dt>State</dt>
  <dd><%= @company.state %></dd>

  <dt>Zip</dt>
  <dd><%= @company.zip %></dd>

  <dt>Overview</dt>
  <dd><%= @company.overview %></dd>

</dl>
